<form 
  (submit)="handleSubmit()" 
  [formGroup]="eventForm"
  >
  <div 
    class="input-holder"
    >
    <input 
      type="text" 
      placeholder="Event title" 
      formControlName="title" 
      >
  </div>
  <div 
    class="input-holder">
    <kendo-datetimepicker
      formControlName="start"
      placeholder="Start date"
    >
    </kendo-datetimepicker>
  </div>
  <div 
    class="input-holder">
    <kendo-datetimepicker
      formControlName="end"
      placeholder="Event end date.."
    >
    </kendo-datetimepicker>
  </div>
  <div 
    class="input-holder">
    <textarea
      placeholder="Event description"
      rows="4"
      formControlName="description"
    >
    </textarea>
  </div>
  <div 
    class="input-holder">
    <button 
      type="submit"
      >
      Schedule
    </button>
  </div>
</form> 