<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
          <a href="#">SWCSCORP</a>.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-0 mb-1">
          <!-- Grid column -->
          <div class="col-md-2 mb-2">
              <a href="#!">About</a>
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-md-2 mb-2">
              <a href="#!">Link</a>
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-md-2 mb-2">
              <a href="#!">Service</a>
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-md-2 mb-21">
              <a href="#!">More</a>
          </div>
          <!-- Grid column -->
        </div>
      </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>