<form 
    [formGroup]="resetPasswordForm" 
    class="form mt-4"
    >
    <div 
        class="signup_form_wrapper">
        <div 
            class="container">
            <div 
                class="row">
                <div 
                    class="col-md-12 col-md-offset-2">
                    <div 
                        class="modal-header text-center">
                        <h3 
                            class="modal-title w-100">
                            Password Reset
                        </h3>
                    </div>
                    <div 
                        class="formsix-e">
                        <div 
                            class="form-group i-password"> 
                            <input 
                                formControlName="password"
                                type="password" 
                                class="form-control" 
                                required="" 
                                id="password" 
                                name="password"
                                placeholder="Password"
                            >
                            <div 
                                class="text-danger d-block mt-2"
                                >
                                <small                                        
                                    *ngIf="resetPasswordForm.get('password').errors?.required 
                                        && resetPasswordForm.get('password').touched">
                                    Password is required.
                                </small>
                                <small                                        
                                    *ngIf="resetPasswordForm.get('password').errors?.minlength 
                                        && resetPasswordForm.get('password').touched">
                                    Password must be at least 8 characters long.
                                </small>
                                <small                                       
                                    *ngIf="resetPasswordForm.get('password').errors?.maxlength 
                                        && resetPasswordForm.get('password').touched">
                                    Password cannot be more than 15 characters long.
                                </small>
                                <small                                       
                                    *ngIf="resetPasswordForm.get('password').errors?.pattern
                                        && !resetPasswordForm.get('password').errors?.minlength
                                        && !resetPasswordForm.get('password').errors?.maxlength
                                        && resetPasswordForm.get('password').touched">
                                    Passwords must contain at least one uppercase letter, one lowercase letter, one number.
                                </small>
                            </div>      
                        </div>
                    </div>                    
                    <div 
                        class="formsix-e">
                        <div 
                        class="form-group i-password"> 
                            <input 
                                formControlName="confirm"
                                type="password" 
                                class="form-control" 
                                required="" 
                                id="confirm" 
                                name="confirm"
                                placeholder="Confirm Password"
                            >
                            <div 
                                class="text-danger d-block mt-2"
                                >
                                <small                                        
                                    *ngIf="resetPasswordForm.get('confirm').errors?.required 
                                        && resetPasswordForm.get('confirm').touched">
                                    Password confirm is required.
                                </small>
                                <small                                       
                                    *ngIf="resetPasswordForm.get('confirm').errors?.mismatch 
                                        && resetPasswordForm.get('confirm').touched">
                                    Passwords must match.
                                </small>
                            </div>      
                        </div>
                        <br>
                        <div 
                            class="signup_btn_wrapper"> 
                            <button 
                                (click)="newPassword()"
                                [disabled]='resetPasswordForm.invalid || resetPasswordForm.pending || isJwTokenInvalid' 
                                class="btn btn-dark bg-dark btn-block"
                                > 
                                Submit 
                            </button> 
                        </div>
                    </div>
                </div>    
            </div>    
        </div>    
    </div>
</form>
