<div 
  class="container">
  <form 
    [formGroup]="uploadFileForm"
    class="row">
    <div 
      class="col-md-5">
      <div 
        class="form-group mt-4" 
        >
        <textarea 
          id="description"  
          required="" 
          formControlName="description" 
          class="form-control form-control-sm" 
          placeholder="description"
          (click)="clearDescription()"
          >
        </textarea>
        <div 
          class="text-danger d-block mt-2"
          >
          <small                                        
            *ngIf="uploadFileForm.get('description').errors?.required 
              && uploadFileForm.get('description').touched">
            Description is required.
          </small>
          <small                    
            *ngIf="uploadFileForm.get('description').errors?.maxlength 
              && uploadFileForm.get('description').touched">
            Max length is 300.
          </small>
        </div>
      </div>
    </div>
    <div 
      class="col-md-2">
      <div class="text-left mt-4"
        >
        <button 
          type="submit" 
          class="btn btn-secondary"
          (click)="close()"
          >
          <i 
            class="fa fa-window-close fa-2x align-middle"
            >
          </i>
        </button>
      </div>
    </div>
    <div 
      class="col-md-5 text-center mt-4"
      >
      <input
        #uploadFile 
        hidden
        required="" 
        type="file" 
        id="uploadFile" 
        name="uploadFile" 
        multiple="multiple" 
        accept="application/msword, 
                  application/vnd.ms-excel, 
                  application/vnd.ms-powerpoint,
                  text/plain, 
                  application/pdf, 
                  image/*" 
      >
      <button 
        type="button" 
        [disabled]='uploadFileForm.invalid || uploadFileForm.pending'
        (click)="onClick()" 
        class="btn btn-primary"
        >
        <i 
          class="fa fa-upload fa-4x align-middle"
          >
        </i>
      </button>
      <div 
        class="progress mt-4"
        >
        <div 
          class="progress-bar" 
          role="progressbar" 
          aria-valuenow="percentDone" 
          aria-valuemin="0" 
          aria-valuemax="100" 
          [ngStyle]="{width: percentDone + '%'}"
          >
          {{percentDone}}%
        </div>
      </div> 
    </div>
  </form>
</div>
<sus-uploads-list
  [campaignId]="campaignId"
  [goalId]="goalId" 
  [count]="count" 
  >
</sus-uploads-list>


