<header class="fixed-top">
    <nav 
        class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" 
        role="navigation"
        >
        <div class="container">
            <a 
                class="navbar-brand" 
                >
                <i 
                    class="fa fa-bars mr-2"
                    tabindex="0"
                    (click)="menu.toggle()"
                    (keyup.space)="menu.toggle()"
                    >
                </i>
                Sustainability
            </a>
            <sus-menu #menu>
                <ul>
                    <li>
                        <a 
                            showIfLogged
                            [routerLink]="['goals']"
                            >
                            Goals
                        </a>
                    </li>
                    <li>
                        <a 
                            showIfLogged
                            [routerLink]="['uploads']"
                            >
                            Uploads
                        </a>
                    </li>
                </ul>
            </sus-menu>
            <button 
                class="navbar-toggler border-0" 
                type="button" 
                data-toggle="collapse" 
                data-target="#exCollapsingNavbar">
                &#9776;
            </button>
            <div 
                class="collapse navbar-collapse" 
                id="exCollapsingNavbar"
                >
                <ul 
                    class="nav navbar-nav">
                    <li 
                        class="nav-item">
                        <a 
                            class="nav-link"
                            >
                            About
                        </a>
                    </li>
                    <li 
                        class="nav-item">
                        <a 
                            class="nav-link"
                            >
                            Link
                        </a>
                    </li>
                    <li 
                        class="nav-item">
                        <a 
                            class="nav-link"
                            >
                            Service
                        </a>
                    </li>
                    <li 
                        class="nav-item">
                        <a 
                            class="nav-link"
                            >
                            More
                        </a>
                    </li>
                </ul>
                <ul 
                    class="nav navbar-nav flex-row justify-content-between ml-auto">
                    <li 
                        class="nav-item">
                        <a 
                            class="nav-link" 
                            title="settings"
                            >
                            <i 
                                class="fa fa-cog fa-fw fa-lg">
                            </i>
                        </a>
                    </li>
                    <li 
                        class="dropdown">
                        <button 
                            class="btn btn-outline-secondary dropdown-toggle"
                            type="button" 
                            data-toggle="dropdown" 
                            >
                            Login 
                            <span 
                                class="caret"
                                >
                            </span>
                        </button>
                        <ul 
                            class="dropdown-menu">
                            <li
                                *ngIf="!!user; then disableSignin else enableSignin">
                            </li>
                            <li
                                *ngIf="!!user; then disableSignup else enableSignup">
                            </li>
                            <li
                                *ngIf="!!user; then enableSignout else disableSignout"
                                >
                            </li>
                        </ul>
                    </li>
                    <li 
                        class="nav-item order-2 order-md-1" 
                        *ngIf="!!user; then signout else signin"
                        >
                    </li>
                </ul>
            </div>
        </div>
        <ng-template 
            #disableSignin
            >
            <a 
                class="dropdown-item disabled"
                >
                Sign in
            </a>
        </ng-template> 
        <ng-template 
            #enableSignin
            >
            <a 
                class="dropdown-item font-weight-bold"
                routerLinkActive="active"
                routerLink="/home" 
                >
                Sign in
            </a>
        </ng-template> 
        <ng-template 
            #disableSignup
            >
            <a 
                class="dropdown-item disabled"
                >
                Sign up
            </a>
        </ng-template> 
        <ng-template 
            #enableSignup
            >
            <a 
                class="dropdown-item font-weight-bold"
                routerLink="/home/signup" 
                >
                Sign up
            </a>
        </ng-template> 
        <ng-template 
            #disableSignout
            >
            <a 
                class="dropdown-item disabled"
                >
                Logout
            </a>
        </ng-template> 
        <ng-template 
            #enableSignout
            >
            <a 
                class="dropdown-item font-weight-bold"
                [routerLink]="['']"
                (click)="signOut()"
                >
                Logout
            </a>
        </ng-template> 
        <ng-template 
            #signout
            >
            <a 
                class="nav-link px-2 text"
                *ngIf="user.type=='local'; else provider"
                [routerLink]="['']"
                (click)="signOut()"
                >
                user: {{user?.name}}
            </a>
        </ng-template> 
        <ng-template 
            #provider
            >
            <a
                class="nav-link px-2 text"
                *ngIf="user.type!='local'"
                [routerLink]="['']"
                (click)="signOut()"
                >
                user: {{user?.type}}
            </a>
        </ng-template> 
        <ng-template 
            #signin
            >
            <a 
                class="navbar-text px-2"
                [routerLink]="['']"
                >
                Please, login!
            </a>
        </ng-template> 
    </nav>
 </header>
 <sus-loading></sus-loading>

